@mixin amenityDetailNameSet() {
	> h3 {
        > span {
            $animation_element_duration: 0.6s;
            $animation_incremental_delay: 0.1s;
            $additional_delay: 0.1s;
            animation-fill-mode: forwards;
            animation-name: fadeInDriftUp;
            animation-duration: $animation_element_duration;
            opacity: 0;
            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}){
                    animation-delay: $animation_incremental_delay*$i + $additional_delay;
                    + img {
                        animation-fill-mode: forwards;
                        animation-name: fadeInDriftUpTop2;
                        animation-duration: $animation_element_duration;
                        animation-delay: $animation_incremental_delay*($i+1) + $additional_delay;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

@mixin amenityDetailNameHide() {
	> h3 {
        > span,
        > span + img {
            animation-fill-mode: forwards;
            animation-name: fadeOut;
            animation-duration: 0.8s;
        }
    }
}

@mixin fullScreenImageScaleDownOnArrival() {
    transform: scale(1.15);//same scale as in zoomOut animation declaration
    $animation_element_duration: 0.9s;
    animation-fill-mode: forwards;
    animation-name: zoomOut;
    animation-duration: $animation_element_duration;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
}

@font-face {
	src: url("assets/fonts/Gotham-Thin.otf");
	font-family: "Gotham-Thin";
	// font-weight: 200;
}
@font-face {
	src: url("assets/fonts/Gotham-Light.otf");
	font-family: "Gotham-Light";
	font-weight: 300;
}

@font-face {
    src: url("assets/fonts/Gotham-Book.otf");
	font-family: 'Gotham-Book';
	font-weight: 400;
}

@font-face {
    src: url("assets/fonts/Gotham-Medium.otf") format("truetype");
	font-family: 'Gotham-Medium';
	font-weight: 500;
}

@font-face {
	src: url("assets/fonts/Gotham-Bold.otf");
	font-family: "Gotham-Bold";
	font-weight: 700;
	font-style: normal;
}


h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Gotham-Thin";
}


* {
    box-sizing: border-box;
}

html,
body {
    /*
     * this is used only to prevent pull-to-refresh which can be triggered 
     * anytime the user tries to scroll up on a touch device
     * 
     * This also prevents an issue where the background color of the body is 
     * exposed during overscroll/elasticscroll behavior on iOS
     * 
     * This prevents users from overscrolling on slides causing vertical
     * movement not related to the slider
     *
     * This has caused issues before and may need to get disabled
     */
    overflow: hidden;
}
.fixed-headers {
    position: absolute;
    transform: translateY(1px);
    z-index: 1;
    height: $header-height;
    overflow: hidden;
    .fixed-header-inner {

        .fixed-header-wrapper {
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }
    }
}
.fixed-header {
    z-index: 999999999999;
    position: fixed;
    color: #fff;
    top: 0;
    width: 85vw;
    height: $header-height;
    left: $side-margin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //Set for different fixed header themes
    &.dark {
        color: #000;
        .separator {
            border-left: 0.5462802649px solid #000;
        }
        .corner-logo.dark {
            opacity: 1;
        }
    }
    &.light {
        color: #fff;
        .separator {
            border-left: 0.5462802649px solid #fff;
        }
        .hamburger .line {
            border-color: #fff;
        }
        .corner-logo.light {
            opacity: 1;
        }
    }
    &.light-inquiry {
        color: #000;
        .separator {
            border-left: 0.5462802649px solid #000;
        }
        .inquiry-link {
            color: #ffffff;
        }
        .corner-logo.dark {
            opacity: 1;
        }
    }
    .inquiry-link {
        cursor: pointer;
    }
    .corner-logo-wrapper .text,
    .inquiry-link {
        transition: color $slideAnimationDuration;
    }
    .corner-logo-wrapper .separator,
    .hamburger .line {
        transition: border-color $slideAnimationDuration;
    }
    .corner-logo-wrapper {
        .corner-logo {
            position: absolute;
        }
    }
    .corner-logo {
        opacity: 0;
        transition: opacity $slideAnimationDuration;
    }
    $menuBtnWidth: 33px;
    $menuBtnHorizontalPadding: 15px;
    .closeBtn {
        cursor: pointer;
        height: 25px;
        width: calc(#{$menuBtnHorizontalPadding}*2 + #{$menuBtnWidth});
        padding: 0 $menuBtnHorizontalPadding;
    }
    .hamburger {
        cursor: pointer;
        transform: translateY(0);
        transition: transform 0.5s linear $slideAnimationDuration;
        padding: 0 $menuBtnHorizontalPadding;
        // pointer-events: all;//because .mobileMenu has none
        .line {
            border-top: solid 4px #000;
            width: $menuBtnWidth;
            margin-bottom: 10px;
        }
    }
    .corner-logo-wrapper {
        height: 60px;
        // width: 250px;
        display: flex;
        .corner-logo {
            width: 110px;
        }
        .text {
            letter-spacing: 5px;
            width: 300px;
            display: flex;
            align-items: center;
            
            .separator {
                margin: 0 12px;
                height: 42px;
                margin: 0 24px;
                width: 1px;//necessary for some browsers
            }
        }
    }
}

.mobile-menu {
    $menu_animation_duration: 1s;
    background-color: #363636;
    height: 100vh;
    width: 0;
    overflow: hidden;
    position: absolute;
    z-index: 100000;
    transition: width $menu_animation_duration;
    &.open {
        width: 100vw;
        .mobileMenuLinks {
            > a {
                transform: translateX(0);
            }
        }
        .socialMedias,
        .address,
        .copyright {
            position: relative;
            animation-fill-mode: forwards;
            animation-name: fadeInDriftUp;
            animation-duration: 0.7s;
            opacity: 0;
        }
        .socialMedias {
            animation-delay: 0.5s;
        }
        .address,
        .copyright {
            animation-delay: 0.7s;
        }
        .mobileMenuLinks {

            @for $i from 1 through 10 {
                $animation_duration: 0.6s;
                $delay_before_animation: 0.1s;
                $interval_between_animation: 0.1s;
                $timing: $i*$interval_between_animation + $delay_before_animation;
                > a:nth-child(#{$i}) {
                    transition: transform $animation_duration linear $timing;
                }
            }
        }
        
    }
    .fixed-header {
        position: absolute;
    }
    .mobileMenuLinks {
        color: #ffffff;
        position: absolute;
        left: calc(50px + #{$side-margin});
        top: calc(50px + #{$header-height});
        
        > a {
            transition: transform 0s linear $menu_animation_duration;
        }
        > a {
            display: block;
            color: #ffffff;
            text-decoration: none;
            height: 60px;
            transform: translateX(-170%);
            
            
            > h2 {
                white-space: nowrap;
                line-height: 1.4em;
                transform-origin: left;
                transition: transform 0.4s, color 0.4s;
                color: rgba(255, 255, 255, 0.5);
                &:hover {
                    transform: scale(1.3);
                    color: #fff;
                }
            }
        }
    }
    .mobileMenuContact {
        color: #ffffff;
        position: absolute;
        // right: $side-margin;
        bottom: $header-height/2;
        text-align: right;
        white-space: nowrap;//prevent line breaks
        left: 100vw;
        transform: translateX(calc(-100% - #{$side-margin}));

        .socialMedias {
            display: flex;
            justify-content: flex-end;
            font-weight: bold;
            text-transform: uppercase;
            .socialMedia {
                > a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
            .separator {
                margin: 0 4px;
            }
            
        }
        .address {
            line-height: 1.4em;
            margin: 40px 0;
            .phoneNum {
                font-weight: bold;
                > a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
        .copyright {
            line-height: 1.4em;
        }
    }
}
.slide .fixed-header {
    z-index: 0;
    display: none;
}
.slides_wrapper {
	overflow: hidden;
    height: 100vh;
    
	.slides_inner {
		transition-property: transform;
		transition-duration: $slideAnimationDuration;
        transition-timing-function: cubic-bezier(0.29, 0.79, 0.35, 0.99);
        .slide {
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            &.slideTemplate- {
                &home {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    z-index: 2;
                    transition: transform 1s;
                    display: flex;
                    flex-direction: column;
                    &:not(.activeSlide) {
                        transform: translateY(-100%);
                    }
                    .animatedLogo {
                        width: 250px;
                    }
                    .downArrowContainer {
                        position: absolute;
                        bottom: 50px;
                        .downArrow {
                            opacity: 0;
                            animation-fill-mode: forwards, none;
                            animation-name: fadeInDriftDownArrow, upAndDown;
                            animation-iteration-count: 1, infinite;
                            animation-duration: 1s, 2s;
                            animation-delay: 2s, 3s;
                            animation-timing-function: linear, ease-in-out;
                            cursor: pointer;
                        }
                    }
                }
                &exteriorLightToggle {
                    .toggleLights {
                        position: absolute;
                        top: calc(#{$header-height} + 30px);
                        right: calc(#{$side-margin} + 30px);
                        z-index: 1;
                        &:hover,
                        .on {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
                &fountainPen {
                    .textSection {
                        position: absolute;
                        left: calc(50px + #{$side-margin});
                        top: calc(50px + #{$header-height});
                        height: calc(100vh - #{$header-height}*2);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        > p {
                            margin-top: 1em;
                            text-align: justify;
                            width: 50%;
                        }
                        .btn {
                            margin-top: 1em;
                        }
                    }
                    .videoContainer .background-video {
                        height: 100vh;
                        width: 100vw;
                        object-position: top right;
                    }
                }
                &patio,
                &residencePenthouseFullscreen {
                    .downArrowContainer {
                        position: absolute;
                        bottom: 50px;
                        z-index: 1;//needed for visibility on patio slide
                        .downArrow {
                            opacity: 0;
                            animation-fill-mode: forwards, none;
                            animation-name: fadeInDriftDownArrow, upAndDown;
                            animation-iteration-count: 1, infinite;
                            animation-duration: 1s, 2s;
                            animation-delay: 0.5s, 1.5s;
                            animation-timing-function: linear, ease-in-out;
                            cursor: pointer;
                        }
                    }
                }
                &amenities {
                    .amenities {
                        position: absolute;
                        left: 7.5vw;
                        width: calc(100% - 15vw);
                        top: 20vh;
                        height: 70vh;
                        display: flex;
                        &__details {
                            background-color: #000000;
                            padding: 30px;
                            flex-basis: 70%;
                            color: #ffffff;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            > h2 {
                                width: 400px;
                                line-height: 1.4em;
                            }
                            > p {
                                margin-top: 1em;
                                font-family: "Gotham-Thin", sans-serif;
                                font-weight: 200;
                            }
                            .btn {
                                margin-top: 1em;
                            }
                        }
                        &__list {
                            padding: 10px;
                            flex-basis: 30%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            text-transform: uppercase;
                            line-height: 2.8em;
                            font-size: 14px;
                            > ul {
                                > li {
                                    cursor: pointer;
                                    &:hover {
                                        font-weight: bold;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                &amenitiesDetail {
                    $amenitiesTransitionDuration: 1.3s;
                    .amenities_detail {
                        &__arrow {
                            position: absolute;
                            z-index: 1;
                            top: 50%;
                            z-index: 2;
                            cursor: pointer;
                            &--right {
                                transform: translateY(-50%);
                                transition: right 0.2s;
                            }
                            &--left {
                                transform: rotate(180deg) translateY(50%);
                                transition: left 0.2s;
                            }
                        }
                        &__image {
                            // object-fit: cover;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100vw;
                            height: 100vh;
                            transition: opacity 0s linear $amenitiesTransitionDuration, transform 0s linear $amenitiesTransitionDuration;
                            opacity: 0;
                            // transform: scale(1.07);
                            object-fit: cover;
                            &.old {
                            }
                            &.new {
                                z-index: 1;
                                opacity: 1;
                                // transform: scale(1.4);
                                transition: opacity $amenitiesTransitionDuration, transform 0s;
                            }
                        }
                        &__more_info {
                            z-index: 2;
                            color: #ffffff;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            // &.transitioning {
                            //     color: #000000;
                            //     .amenities_detail__name > h3 > span {
                            //         // opacity: 0;
                            //     }
                            // }
                            &__dots {
                                position: absolute;
                                bottom: 15px;
                                .dot {
                                    height: 10px;
                                    width: 10px;
                                    background-color: rgba(255,255,255,0.6);
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin: 0 4px;
                                    cursor: pointer;
                                    &.active {
                                        background-color: rgba(255,255,255,1);
                                    }
                                }
                            }
                        }
                        &__name {
                            text-transform: uppercase;
                            font-size: 30px;
                            // margin-bottom: 1em;
                            position: relative;
                            &.runFadeOutAnimation {
                                @include amenityDetailNameHide();
                            }
                            &.runFadeInAnimation{
                                @include amenityDetailNameSet();
                            }
                            > h3 {
                                > span {
                                    opacity: 1;
                                    display: block;
                                    position: relative;
                                    transition: opacity 0.6s;
                                }
                                > span:last-of-type {
                                    display: inline;
                                }
                            }
                        }
                        &__description_toggler {
                            height: 24px;
                            margin-left: 5px;
                            position: relative;
                            top: 2px;
                            cursor: pointer;
                        }
                        &__description {
                            line-height: 1.4em;
                            background: rgb(0,0,0);
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.923714986) 0%, rgba(0, 0, 0, 0.4908018207) 69%, rgba(0, 0, 0, 0.2908018207) 89%, rgba(0, 0, 0, 0) 100%);
                            width: 100vw;
                            max-height: 0;
                            transition: max-height 0.8s;
                            margin-top: 2em;
                            &.visible {
                                max-height: 200px;
                            }
                            .text {
                                padding: 30px 20vw 40px;

                            }
                        }
                        &__more_info_btn {
                            position: absolute;
                            bottom: 30px;
                            right: 30px;
                        }
                    }
                }
                &views {
                    $top_section_height: 18vh;
                    .views_section {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        display: flex;
                        flex-direction: column;
                        $sliderLineColor: #b2b2b2;
                        &__top {
                            position: absolute;
                            top: $header-height;
                            width: 100vw;
                            height: $top_section_height;
                            padding-left: $side-margin;
                            padding-right: $side-margin;
                        }
                        &__bottom {
                            position: absolute;
                            top: $top_section_height + $header-height;
                            width: 100vw;
                            height: 100vh - $top_section_height - $header-height;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &__timeSlider {
                            $sliderThumbWidth: 20px;
                            $sliderHeight: 1px;
                            $sliderWidth: calc(40vw + #{$sliderThumbWidth});
                            $thumbColor: #000;
                            $thumbBorderRadius: 50%;
                            $thumbBorder: solid 1px #fff;
                            > input {
                                width: $sliderWidth;
                                margin: 0;
                                -webkit-appearance: none;
                                position: relative;
                                left: -$sliderThumbWidth/2;
                                z-index: 2;
                                /* fix for FF unable to apply focus style bug  */
                                border: none 0 transparent;
                                /*required for proper track sizing in FF*/
                                width: $sliderWidth;
                                &::-webkit-slider-runnable-track {
                                    width: $sliderWidth;
                                    height: $sliderHeight;
                                    background: $sliderLineColor;
                                    border: none;
                                }
                                &::-webkit-slider-thumb {
                                    -webkit-appearance: none;
                                    border: $thumbBorder;
                                    border: $thumbBorder;
                                    height: $sliderThumbWidth;
                                    width: $sliderThumbWidth;
                                    border-radius: $thumbBorderRadius;
                                    background: $thumbColor;
                                    margin-top: -$sliderThumbWidth/2;
                                    position: relative;
                                    z-index: 1;//to appear above tick lines
                                }
                                &:focus {
                                    outline: none;
                                }
                                &:focus::-webkit-slider-runnable-track {
                                    background: $sliderLineColor;
                                }
                                &::-moz-range-track {
                                    width: $sliderThumbWidth;
                                    height: $sliderHeight;
                                    background: $sliderLineColor;
                                    border: none;
                                }
                                &::-moz-range-thumb {
                                    border: $thumbBorder;
                                    height: $sliderThumbWidth;
                                    width: $sliderThumbWidth;
                                    border-radius: $thumbBorderRadius;
                                    background: $thumbColor;
                                }
                                
                                /*hide the outline behind the border*/
                                &:-moz-focusring {
                                    outline: 1px solid white;
                                    outline-offset: -1px;
                                }
                                &:focus::-moz-range-track {
                                    background: $sliderLineColor;
                                }
                                &::-ms-track {/* for ie */
                                    width: $sliderWidth;
                                    height: 5px;
                                    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
                                    background: transparent;
                                    
                                    /*leave room for the larger thumb to overflow with a transparent border */
                                    border-color: transparent;
                                    // border-width: 6px 0;

                                    /*remove default tick marks*/
                                    color: transparent;
                                }
                                &::-ms-fill-lower {
                                    background: $sliderLineColor;
                                    // border-radius: 10px;
                                }
                                &::-ms-fill-upper {
                                    background: $sliderLineColor;
                                    // border-radius: 10px;
                                }
                                &::-ms-thumb {
                                    border: $thumbBorder;
                                    height: $sliderThumbWidth;
                                    width: $sliderThumbWidth;
                                    border-radius: $thumbBorderRadius;
                                    background: $thumbColor;
                                }
                                &:focus::-ms-fill-lower {
                                    background: $sliderLineColor;
                                }
                                &:focus::-ms-fill-upper {
                                    background: $sliderLineColor;
                                }
                            }
                        }
                        &__timeList {
                            display: flex;
                            justify-content: space-between;
                            width: calc(46vw);
                            position: relative;
                            left: -3vw;
                            top: 20px;
                            color: #ccc;
                            z-index: 1;
                            > li {
                                width: 6vw;
                                text-align: center;
                                position: relative;
                                transition: color 0.3s;
                                &.active {
                                    color: #fff;
                                }
                                &:before {
                                    position: absolute;
                                    top: -33px;
                                    right: 0;
                                    left: 0;
                                    content: "";
                                    margin: 0 auto;
                                    width: 1px;
                                    height: 20px;
                                    background: $sliderLineColor;
                                    border-radius: 50%;
                                }
                            }
                        }
                        &__image {
                            $viewsTransitionDuration: 1s;
                            position: absolute;
                            top: 0;
                            height: 100%;
                            width: 100vw;
                            object-fit: cover;
                            transition: opacity 0s linear $viewsTransitionDuration, transform 0s linear $viewsTransitionDuration;
                            opacity: 0;
                            
                            // transform: scale(1.07);
                            &.old {
                            }
                            &.new {
                                z-index: 1;
                                opacity: 1;
                                // transform: scale(1.4);
                                transition: opacity $viewsTransitionDuration linear, transform 0s;
                            }
                        }
                    }
                }
                &residencePenthouse {
                    .btn {
                        margin: 0 15px;
                    }
                }
                &residencePenthouseFullscreen {
                    .residencePenthouseFullscreenImage {
                        width: 100vw;
                        height: 100vh;
                        object-fit: cover;
                    }

                }
            }
            &.runAnimationOnce {
                .videoContainer {
                    .background-video {
                        &.videoZoomEffect {
                            transform: scale(1);
                            //the object-position transitions are only used in mobile but for simplicity they are set here
                            transition: object-position $slideAnimationDuration linear 0s, transform 1.2s ease-out 1.2s;
                        }
                    }
                }
            }
            &.activeSlide {
                .amenities_detail__image.new {
                    @include fullScreenImageScaleDownOnArrival();
                }
                .amenities__list > ul > li{
                    $animation_incremental_delay: 0.2s;
                    animation-fill-mode: forwards;
                    animation-name: fadeInDriftUp;
                    animation-duration: 0.5s;
                    opacity: 0;
                    position: relative;
                    @for $i from 1 through 12 {
                        &:nth-of-type(#{$i}){
                            animation-delay: $animation_incremental_delay*$i;
                        }
                    }
                }

                .residencePenthouseFullscreenImage {
                    @include fullScreenImageScaleDownOnArrival();
                }
            }
            .btn {
                cursor: pointer;
                text-align: center;
                border: rgba(255, 255, 255, 0.7) solid 1px;
                color: #fff;
                z-index: 1;
                text-transform: uppercase;
                padding: 15px;
                width: 170px;
                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
                &.dark {
                    background-color: #000;
                    color: #ffffff;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                        border-color: #000;
                    }
                }
            }
            // &.runAnimations {
            //     .background-video {
            //         &.videoZoomEffect {
            //             transform: scale(1);
            //             transition-delay: 0s, 1.1s;
            //         }
            //     }
            //     .centerBottom {
            //         > h1 {
            //             position: relative;
            //             animation-fill-mode: forwards;
            //             animation-name: fadeInDriftUp;
            //             animation-duration: 0.7s;
            //             animation-delay: 0.5s;
            //             opacity: 0;
            //             + h1 {
            //                 animation-delay: 0.7s;
            //             }
            //         }
            //     }
            //     .center {
            //         > h1,
            //         .contactButton {
            //             position: relative;
            //             animation-fill-mode: forwards;
            //             animation-name: fadeInDriftUp;
            //             animation-duration: 1.7s;
            //             animation-delay: 0.5s;
                        
            //         }
            //         .contactButton,
            //         > h1 {
            //             animation-delay: 0.7s;
            //             opacity: 0;
            //         }
            //         .contactButton {
            //             animation-delay: 1.1s;
            //             transition: all 0.25s;
            //             border: solid #fff 1px;
            //             &:hover {
            //                 color: #ffffff;
            //                 background-color: #a9a9a9;
            //             }
            //         }
            //     }
            //     .downArrow {
            //         opacity: 1;
            //         bottom: 0;
            //     }
            //     .privacyPolicy .verticalLineContainer .verticalLine {
            //         height: 100%;
            //     }
            //     .privacyPolicy .logo {
            //         opacity: 1;
            //     }
            //     .cornerLogofadeIn {
            //         animation-fill-mode: forwards;
            //         animation-name: fadeIn;
            //         animation-duration: 0.5s;
            //         animation-delay: 1.2s;
            //         opacity: 0;
            //     }
            // }
            // .downArrow {
            //     opacity: 0;
            //     transition: all 1.2s;
            //     transition-delay: 1s;
            //     position: relative;
            //     bottom: 50px;
            //     cursor: pointer;
            //     margin-top: 20px;
            // }
            // .btn {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     margin-top: 50px;
            //     margin-left: auto;
            //     margin-right: auto;
            //     background-color: #fff;
            //     width: 217px;
            //     height: 66px;
            //     font-size: 15px;
            //     line-height: 18px;
            //     letter-spacing: 2.25px;
            //     color: #000000;
            //     cursor: pointer;
            // }
            // &.bg000 {
            //     background-color: #000;
            //     color: #fff;
            // }
            // &.backgroundFrame {
            //     // background-image: url(/assets/images/hobokenh1.jpg);
            //     background-color: #FFF;
            //     background-position: top;
            //     // background-size: calc(100% - 90px) calc(100% - 45px);
            //     background-size: 100% 100%;
            // }
            // .center {
            //     text-align: center;
            //     // width: 56vw;
            //     .centerTagline {
            //         margin-bottom: 1em;
            //         text-transform: uppercase;
            //     }
            //     .centerContent {
            //         > p + p {
            //             margin-top: 1em;
            //         }
            //     }
            //     .contactButton,
            //     > h1 {
            //         opacity: 1;
            //         transition: opacity 0.5s;
            //     }
            // }
            // .background-image {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100vw;
            //     height: 100vh;
            // }
            .videoContainer {
                pointer-events: none;
                width: 100%;
                &.compact {
                    width: calc(100vw - #{$side-margin}*2);
                    height: 80%;
                    bottom: 0;
                    position: absolute;
                    overflow: hidden;

                }
                .background-video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    //the object-position transitions are only used in mobile but for simplicity they are set here
                    transition: object-position $slideAnimationDuration linear 0s;
                    &.startZoomedIn {
                        transform: scale(1.07);
                    }
                }
            }
            
            // .centerBottom {
            //     letter-spacing: 4.4px;
            //     position: absolute;
            //     line-height: 45px;
            //     text-align: center;
            //     > h1 {
            //         opacity: 1;
            //         text-transform: uppercase;
            //     }
            // }
            // .contactButton {
            //     color: #a9a9a9;
            //     opacity: 0;
            // }
            // .founderSlide {
            //     position: absolute;
            //     width: 60%;
            //     left: 40%;
            //     .founderHeadline {
            //         text-transform: uppercase;
            //         color: #fff;
            //         font-size: 40px;
            //         margin-bottom: 20px;
            //         font-family: "Gotham-Thin", sans-serif;
            //         font-weight: 200;
            //         line-height: 1.4em;
            //         width: 1px;//This forces line breaks between words
            //     }
            //     .founderTagline {
            //         color: $color-bronze;
            //         margin-bottom: 15px;
            //         font-size: 18px;
            //         font-family: "Gotham-Light", sans-serif;
            //     }
            //     .founderBenefits {
            //         font-size: 18px;
            //         padding-right: 20px;
            //         padding-bottom: 10px;
            //         font-family: "Gotham-Light", sans-serif;
            //         .benefitPair {
            //             display: flex;
            //             align-items: center;
            //             margin-top: 15px;
            //             .count {
            //                 color: rgb(21 22 23);
            //                 background-color: $color-bronze;
            //                 border-radius: 50%;
            //                 width: 32px;
            //                 height: 32px;
            //                 line-height: 34px;
            //                 text-align: center;
            //                 flex-shrink: 0;//prevents squeezing circle width from benefit
            //                 @extend .gotham-bold;
            //             }
            //             .benefit {
            //                 margin-left: 10px;
            //                 width: 100%;//Prevents the count to get squeezed
            //             }
            //         }
            //     }
        
            // }
            // .contactPageWrapper {
            //     width: 100%;
            //     height: 100%;
            // }
            // .contactForm {
            //     // display: none;
            //     position: absolute;
            //     left: 100px;
            //     top: 175px;
            //     background-color: #a8a8a8;
            //     padding: 53px;
            //     width: 44vw;
            //     margin-bottom: 53px;
            //     .hubspotFormWrapper {
            //         .hs-nested-form-fix {
            //             .hs-form {
            //                 .hs-error-msgs {
            //                     margin-top: 7px;
            //                     font-size: 0.8em;
            //                 }
            //                 .form-columns-2 {
            //                     .hs-form-field {
            //                         > label,
            //                         .input,
            //                         .hs-error-msgs {
            //                             margin-right: 16px;
            //                         }
            //                         + .hs-form-field {
            //                             > label,
            //                             .input,
            //                             .hs-error-msgs {
            //                                 margin-left: 16px;
            //                                 margin-right: 0;
            //                             }
            //                         }
            //                     }
            //                 }
            //                 .form-columns-1,
            //                 .form-columns-2 {
            //                     max-width: none;
            //                 }
        
            //                 .form-columns-1 {
            //                     .hs-input {
            //                         width: 100%;
            //                     }
            //                 }
            //                 .form-columns-0 {//fine print
            //                     font-size: 10px;
            //                     line-height: 1.4em;
            //                     color: #000;
            //                     margin-top: 18px;
            //                     letter-spacing: 1px;
            //                     @extend .gotham-light;
            //                     .recaptcha_branding {
            //                         margin-top: 10px;
            //                         > a {
            //                             text-decoration: none;
            //                             color: #000;
            //                         }
            //                     }
            //                 }
            //                 .grecaptcha-badge { visibility: hidden; }
            //                 .hs_recaptcha {
            //                     height: 20px;
            //                 }
            //                 .hs-submit {
            //                     .actions {
            //                         text-align: right;
            //                         .hs-button {
            //                             border: none 0 transparent;
            //                             cursor: pointer;
            //                             padding: 0;
            //                             background-color: transparent;
            //                         }
            //                     }
            //                 }
            //                 .hs-form-field {
            //                     letter-spacing: 1px;
            //                     @extend .gotham-light;
            //                     > label {
            //                         display: block;
            //                         color: #000;
            //                         font-size: 14.2px;
            //                         line-height: 19.88px;
            //                         margin-top: 24px;
            //                     }
            //                     .input {
            //                         margin-right: 0;
            //                         > input,
            //                         > textarea {
            //                             margin-top: 16px;
            //                             background-color: #fff;
            //                             height: 44px;
            //                             border: none 0 transparent;
            //                             width: 100%;
            //                             font-size: 20px;
            //                             @extend .gotham-light;
            //                             letter-spacing: 4.4px;
            //                             padding: 10px;
            //                         }
            //                         > textarea {
            //                             height: 80px;
            //                         }
            //                     }
            //                 }
            //                 .select2-container--default {
            //                     $select2_height: 44px;
            //                     width: 100% !important;//these help fix the issue causing long placeholders to stretch select2 field
            //                     .select2-selection--single {
            //                         border: none;
            //                         border-radius: 0;
            //                         height: $select2_height;
            //                         .select2-selection__rendered {
            //                             letter-spacing: 4.4px;
            //                             line-height: $select2_height;
            //                         }
            //                         .select2-selection__placeholder {
            //                             white-space: normal;//these help fix the issue causing long placeholders to stretch select2 field
            //                             line-height: 1.4em;//these help fix the issue causing long placeholders to stretch select2 field
            //                         }
            //                         .select2-selection__arrow {
            //                             b {
            //                                 border-color: #000 transparent transparent transparent;
            //                                 border-width: 13px 7px 0 7px;
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
                
            //     .headline {
            //         line-height: 16.66px;
            //         text-transform: uppercase;
            //         margin-bottom: 18px;
            //     }
            //     .two-input-group {
            //         display: flex;
            //         .form-control {
            //             flex-grow: 1;
            //             + .form-control {
            //                 margin-left: 32px;
            //             }
            //         }
            //     }
            //     .form-control {
            //         @extend .gotham-light;
            //         letter-spacing: 1px;
            //         .label {
            //             display: block;
            //             color: #000;
            //             font-size: 14.2px;
            //             line-height: 19.88px;
            //             margin-top: 24px;
            //         }
            //         .input {
            //             margin-top: 16px;
            //             background-color: #fff;
            //             height: 44px;
            //             border: none 0 transparent;
            //             width: 100%;
            //             font-size: 20px;
            //             @extend .gotham-light;
            //             letter-spacing: 4.4px;
            //             padding: 10px;
            //             &.textarea {
            //                 height: 80px;
            //             }
            //         }
            //         .select2-container--default {
            //             $select2_height: 44px;
            //             .select2-selection--single {
            //                 border: none;
            //                 border-radius: 0;
            //                 height: $select2_height;
            //                 .select2-selection__rendered {
            //                     letter-spacing: 4.4px;
            //                     line-height: $select2_height;
            //                 }
            //                 .select2-selection__arrow {
            //                     b {
            //                         border-color: #000 transparent transparent transparent;
            //                         border-width: 13px 7px 0 7px;
            //                     }
            //                 }
            //             }
            //         }
            //         .how_you_heard {
            //             width: 100%;
            //         }
            //     }
            //     .fine-print {
            //         font-size: 10px;
            //         line-height: 1.4em;
            //         color: #000;
            //         margin-top: 18px;
            //         letter-spacing: 1px;
            //     }
            //     .rightArrowContainer {
            //         margin-top: 40px;
            //         display: flex;
            //         justify-content: flex-end;
            //         .rightArrow {
            //             cursor: pointer;
            //         }
            //     }
                
            // }
            // .privacyPolicy {
            //     width: 45%;
            //     display: flex;
            //     flex-direction: column;
            //     align-items: center;
            //     float: right;
                
            //     .verticalLineContainer {
            //         height: 50vh;
                    
            //         .verticalLine {
            //             border-left: solid 0.55px #000;
            //             transition: all 1.2s;
            //             transition-delay: 0.9s;
            //             height: 0;
            //         }
            //     }
            //     .logo {
            //         height: 90px;
            //         margin-bottom: 56px;
            //         margin-top: 35px;
            //         opacity: 0;
            //         transition: all 1.2s;
            //         transition-delay: 2.1s;
            //     }
            //     .contactInfo {
            //         text-align: center;
            //         .address,
            //         .phone,
            //         .copyright  {
            //             font-size: 15px;
            //             line-height: 25px;
            //         }
            //         .phone {
            //             @extend .gotham-bold;
            //         }
            //         .copyright {
            //             @extend .gotham-light;
            //             margin-top: 1.4em;
            //         }
            //         .btn {
            //             border: solid 1px #000;
            //             margin-top: 46px;
            //             transition: all 0.25s;
            //             text-decoration: none;
            //             &:hover {
            //                 background-color: #000;
            //                 color: #fff;
            //             }
            //         }
            //     }
            // }
        }
	}
}