.slideTemplate-founders {
    .founderSlideWrapper {//Slide has a vertical list. Too tall on smaller-height desktops
        .founderHeadline {
            width: 400px;//Allows one line break
            margin-bottom: 10px;
        }
        .founderBenefits .benefitPair {
            margin-top: 10px;
        }
    }
}