.slides_wrapper .slides_inner .slide {
    &.slideTemplate- {
        &founders  {
            .founderSlideWrapper {//Slide has a vertical list. Too tall on smaller-height desktops
                justify-content: flex-start;
                top: $header-height;
                .founderHeadline {
                    width: 400px;//Allows one line break
                    margin-bottom: 10px;
                }
                .founderBenefits .benefitPair {
                    margin-top: 10px;
                }
            }
        }
    }
    
}


.mobile-menu .mobileMenuContact {
    .socialMedias,
    .address,
    .copyright {
        font-size: 14px;
    }
}