

.mobile-only {
    display: none !important;
}


.contactPageWrapper {
    .contactForm {
        .headline {
            font-size: 13.89px;
            letter-spacing: 4.17px;
            color: #FFFFFF;
            font-family: "Gotham-Book", sans-serif;
        }
        .hubspotFormWrapper {
            .hs-nested-form-fix .hs-form {
                .hs-submit {
                    .actions {
                        .hs-button {
                            text-transform: uppercase;
                            font-size: 15px;
                            letter-spacing: 3px;
                            line-height: 18px;
                            border-bottom: #000 solid 1px;
                            padding-bottom: 4px;
                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }
                .select2-container--default {
                    margin-top: 16px;
                    .select2-selection--single {
                        .select2-selection__arrow {
                            top: 5px;
                            right: 18px;
                        }
                    }
                }
                .hs-form-field .hs-input::-webkit-input-placeholder { /* WebKit browsers */
                    color: transparent;
                }
                .hs-form-field .hs-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: transparent;
                }
                .hs-form-field .hs-input::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: transparent;
                }
                .hs-form-field .hs-input:-ms-input-placeholder { /* Internet Explorer 10+ */
                   color: transparent;
                }
                .select2-selection__placeholder {
                    color: transparent;
                }
            }
        }
        
        .form-control .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 5px;
            right: 18px;
        }
        .form-control .input::-webkit-input-placeholder { /* WebKit browsers */
            color: transparent;
        }
        .form-control .input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: transparent;
        }
        .form-control .input::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: transparent;
        }
        .form-control .input:-ms-input-placeholder { /* Internet Explorer 10+ */
           color: transparent;
        }
        .select2-selection__placeholder {
            color: transparent;
        }
    }
}

.slides_wrapper .slides_inner .slide.slideTemplate-{
    &map {
        .mapSection {
            .mapLogo {
                position: absolute;
                left: 50%;
                transform: translate(-$mapLogoDesktopTransformOriginXPercent, -50%) scale(var(--mapScale));
                top: 50%;
                z-index: 2;
                transform-origin: $mapLogoDesktopTransformOriginX center;
                transition: transform 0.5s;
            }
        }
    }
    &founders {
        .founderBenefits {
            // padding-bottom: 50px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 950px) {
	.mobile-menu .mobileMenuContact .address {
        .line-break {
            display: block;
        }
        .separator {
            display: none;
        }
    }
}

// @media screen and (min-width: 769px) and (max-width: 1030px) {//To make sure map image isnt too large on small screens
// 	.slides_wrapper .slides_inner .slide.slideTemplate-map .mapSection .mapMotionLogo > img {
//         height: 87px;
//         transform: translate(-25px,-37px);
//     }
// }