@function calc_vh($px) {
    $base_height: 1080;
    $vh_height: $px / $base_height;
    
    @return $vh_height * 100vh;
}

@function calc_vw($px) {
    $base_width: 1920;
    $vw_width: $px / $base_width;
    
    @return $vw_width * 100vw;
}

$separator-line-height: 42px;
$soundOptionsButtonWidth: 86px;
$cornerLogoAnimateDistance: 260px;
$cornerMusicPlayerChildElementWidth: 140px;
$slideAnimationDuration: 1400ms;
$midSlidingAnimationDelay: 0.6s;
$header-height: 12.8vh;//Changes here need to be reflected in calculateMapAspectLockRatio()
$side-margin: 6.3vw;//Changes here need to be reflected in calculateMapAspectLockRatio()
$content-padding: 38px;
$down-arrow-bottom: 48px;
$color-bronze: #a6682f;
$button-spacing: 42px;
$vertical-toggler-color: #d9d9d9;
$contactFormDistanceFromTop: 1400vh; //This is the distance until the contact form. Used to sneak in a white background for the header