@function calc_vh($px) {
    $base_height: 1080;
    $vh_height: $px / $base_height;
    
    @return $vh_height * 100vh;
}

@function calc_vw($px) {
    $base_width: 1920;
    $vw_width: $px / $base_width;
    
    @return $vw_width * 100vw;
}

$separator-line-height: 42px;
$soundOptionsButtonWidth: 86px;
$cornerLogoAnimateDistance: 260px;
$cornerMusicPlayerChildElementWidth: 140px;
$slideAnimationDuration: 1400ms;
$midSlidingAnimationDelay: 0.6s;
$header-height: 12.8vh;//Changes here need to be reflected in calculateMapAspectLockRatio()
$side-margin: 6.3vw;//Changes here need to be reflected in calculateMapAspectLockRatio()
$content-padding: 38px;
$down-arrow-bottom: 48px;
$color-bronze: #a6682f;
$color-grey: #5d5d5d;
$button-spacing: 42px;
$vertical-toggler-color: #d9d9d9;
$contactFormDistanceFromTop: 1400vh; //This is the distance until the contact form. Used to sneak in a white background for the header

$availabilityPopupTransitionDuration: 0.9s;


$mapLogoDesktopTransformOriginX: 405px;//$mapLogoDesktopTransformOriginX is the X axis pixel distance to the point in the image where it is in the center of the logo. Used for transform-origin of scale
$mapLogoDesktopTransformOriginXPercent: 72.4%;//$mapLogoDesktopTransformOriginXPercent value in percent of total image width
$mapLogoMobileTransformOriginX: 366px;//$mapLogoMobileTransformOriginX is the X axis pixel distance to the point in the image where it is in the center of the logo. Used for transform-origin of scale
$mapLogoobileTransformOriginXPercent: 50%;//$mapLogoobileTransformOriginXPercent value in percent of total image width
$mapLogoobileTranslateYPercent: -56%;//This positions the dot exactly in the center of the map, on the same horizontal plane where the business location is