@import 'sass/_reset';


@import 'sass/_variables';
@import 'sass/_animations';

/* Custom Styles */
@import 'sass/_all';

@media screen and (min-width: 769px) {
	@import 'sass/_desktop';
}
@media screen and (min-width: 769px) and (max-height: 700px) {
	@import 'sass/_desktop_short_height';
}

@media screen and (max-width: 768px) {
	.not-mobile {
		display: none !important;
	}
}

@media screen and (max-width: 768px),
	screen and (max-height: 415px) and (orientation: landscape) {
	@import 'sass/_mobile';
}

@media screen and (max-height: 415px) and (orientation: landscape) {//For large landscape phones eg. iPhone 11
	@import 'sass/_mobile_landscape';
}




/*
@media screen and (min-width: 769px) and (max-height: 1080px) {
	//Fixes for contact form slide on smaller screens
	.slide {
		.contactForm {
			top: calc(100px + 6vh);
			padding: 4vh;
			
			.headline {
				margin-bottom: 1.6vh;
				line-height: 1.4em;
				font-size: calc(11px + .2vh);
				letter-spacing: 0.4vh;
			}
			.form-control {
				.label {
					margin-top: 1vh;
					font-size: calc(11px + .2vh);
					line-height: 1.4em;
				}
				.input {
					margin-top: 0.5vh;
					height: 4vh;
					padding: 0.9vh;
					&.textarea {
						height: calc(30px + 2vh);
					}
				}
			}
			.fine-print {
				margin-top: 0.5vh;
			}
			.rightArrow {
				margin-top: 0.5vh;
				width: 40px;
			}
		}
		.privacyPolicy {
			.verticalLineContainer {
				height: calc(100px + 10vh);
			}
			.logo {
				margin-top: 3vh;
				margin-bottom: 3vh;
				height: calc(45px + 4vh);
			}
			.contactInfo .btn {
				margin-top: 4vh;
			}
		}
	}
}
*/